.home_buttons{
  button{
    width: 5em;
    //height:5em;
    min-height: 55%;
    //min-width: auto;
    margin-left: 1em;
    margin-right: 1em;
    text-align: center;
    border:2px solid !important;
  }
}

.path_button_expander{
  min-width: 49%!important;
}
.home_table{
  width:100%;
}