 .high{
    .k-widget{
      .k-state-selected{
        background-color: #008000!important;
        border: 1px solid #008000;
      }
    }
  }
 .medium{
   .k-widget{
     .k-state-selected{
       background-color: #7fbf7f!important;
       border: 1px solid #7fbf7f;
     }
   }
 }
 .low{
   .k-widget{
     .k-state-selected{
       background-color: #ffffb2!important;
       border: 1px solid #ffffb2;
     }
   }
 }
