/* LESS Document */
/*

.paths_table{
  .bbn-overlay{

    .bbn-header{
      div{
        padding:0.4em
      }
    }
  }
}


*/
.config-container{
  display: grid;
  grid-template-rows: auto auto auto auto;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-items: center;

  .first{
    grid-column-start: 1;
     grid-column-end: 3;
  }
  .second{
    grid-column-start: 1;
    grid-column-end: 3;
  }
  .third{
    grid-column-start: 1;
    grid-column-end: 3;
    span{
      display: inline-block;
    }
    .langs{
      display: inline-block;
      .bbn-i{
        display: inline-block;
        padding-left: 2px;
        padding-right: 2px;
      }
    }
  }
  .fourth{
    grid-column-start: 1;
    grid-column-end: 3;
  }
}