/* LESS Document */
.appui-i18n-dashboard {
  .appui-i18n-dashboard-toolbar {
    .bbn-dropdown {
      border: 0 !important;
    }
  }
  .appui-i18n-dashboard-head {
    flex-direction: column;
    .appui-i18n-dashboard-head-lang {
      .bbn-input {
        color: inherit;
      }
    }
  }
  .bbn-dashboard {
    .bbn-masonry > .bbn-widget {
      & > .bbn-content,
      & > .bbn-header {
        background-color: var(--default-background);
        color: var(--default-text);
      }
    }
  }
}
